@font-face {
  font-family: 'Shell';
  src: url('/fonts/ShellLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Shell';
  src: url('/fonts/ShellMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Shell';
  src: url('/fonts/ShellHeavy.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}