@use 'variables' as *;
@use 'mixins' as *;

.size {
    font-size: 4rem;
    padding: 2rem;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(sm) {
        visibility: hidden;
    }
}

.landing-page {
    width: 144.2rem;
    margin: 0 auto;
    visibility: hidden;

    @include breakpoint(sm) {
        visibility: visible;
    }

    &__background {
        background-color: black;
        z-index: -10;
    }
    
    &__content {
        position: relative;
        width: 100%;
        aspect-ratio: 1.442;
    }

    &__background-image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include breakpoint(lg) {
            mask-image: linear-gradient(
                to right,
                transparent,
                black 5%,
                black 95%,
                transparent
            );
            
            -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black 5%,
                black 95%,
                transparent
            );
        }
    }

    &__logo {
        position: absolute;
        margin: 2.35rem;
        top: 5.5rem;
        left: 5.5rem;
        width: 22.35rem;
    }

    &__heading {
        z-index: 1;
        margin: 5.5rem auto 1.8rem;
    }

    &__tagline {
        z-index: 1;
        font-size: 2.25rem;
        font-weight: 500;
        margin: 0 auto;
        max-width: 53.9rem;
        text-align: center;
    }

    &__ctas {
        position: absolute;
        width: 29.1rem;
        top: 8rem;
        right: 8.15rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.55rem;
        font-weight: 700;
    }

    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 71.3rem;
        bottom: 6rem;
        left: 8rem;

        h3 {
            font-size: 2.25rem;
            margin-top: 3.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    &__stats {
        position: absolute;
        height: 69.7rem;
        bottom: 3.5rem;
        right: 4rem;
    }
}