@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  line-height: 1.2;
  font-size: 1.4rem;
  font-family: $font-shell;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 7rem;
  font-weight: 1000;
  letter-spacing: -0.4rem;
}

p {
  letter-spacing: -0.01rem;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

